%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %link{href: "/favicon.png", rel: "shortcut icon", type: "image/png"}/
    %link{href: "/ember/assets/vendor-d6d9b22533ca9c5eadcb6d1bfed62032.css", media: "all", rel: "stylesheet"}
    %link{href: "/ember/assets/frontend-4cbf49d06007d16324b2fecd5cf86062.css", media: "all", rel: "stylesheet"}
    %script{src: "/ember/assets/vendor-0cbeb8ac4c1b979ba676861748bd6b7b.js", defer: "true"}
    %script{src: "/ember/assets/frontend-dcf966408f2c14f78b9493bd6a7a21bf.js", defer: "true"}
    = csrf_meta_tags
    %title Cryptopus
  %body{"data-locale" => I18n.locale}
    #ember
