<ol>
  {{#each .}}
    <li data-value='{"user_id": {{user_id}} }'>
      {{label}}
      {{#if admin}}
        <%= image_tag("penguin.svg", class: "admin", alt:"Admin" ) %>
      {{/if}}

      {{#if deletable}}
        <a href="#">
          <%= image_tag("remove.svg", class: "remove_member", alt:"Remove" ) %>
        </a>
      {{/if}}
    </li>
  {{/each}}
</ol>
