log/*.log
db/*.sqlite3
db/geo_ip.mmdb
cryptopus_development
cryptopus_test
tmp
log
.sass-cache
public/assets
coverage
tags
BUILD

.project
.idea
.rake_tasks~
.tags
.tags_swap

# Ignore application configuration
/config/application.yml
