log/*.log
db/*.sqlite3
db/geo_ip.mmdb
cryptopus_development
cryptopus_test
tmp
log
.sass-cache
public/assets
public/ember
coverage
tags
BUILD

.project
.idea
.rake_tasks~
.tags
.tags_swap
.vscode

# Ignore application configuration
/config/application.yml

# Ignore testfailure file
spec/examples.txt

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# docker dev setup
.bash_history
config/docker/development/home/rails/
public/frontend-index-test.html
