log/*.log
db/*.sqlite3
db/GeoIP.dat
cryptopus_development
cryptopus_test
tmp
log
.sass-cache
public/assets
coverage
tags
BUILD

.project
.idea
.rake_tasks~

# Ignore application configuration
/config/application.yml
