<div class='form-group search'>
  <h1>Hi<%= username %>! Want to recover a password?</h1>
  <%= text_field_tag :search_string,  params[:search_string], autocomplete: 'off', autofocus: true, class: 'form-control search-input' %>

</div>
<div class='result-info' style='display: none;'><%= t('.no_results_found')%></div>
<ul class="search-result result-list">
</ul>

<script>
  new Cryptopus.Search($('.search-input'), $('.result-list'));
</script>
