<% 
# $Id$

# Copyright (c) 2007 Puzzle ITC GmbH. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-%>

<%= form_tag({:action => 'create'},{:class=> 'search'}) do %>  
  <h1>Hi! Want a password?</h1>
  <%= text_field_tag :search_string,  params[:search_string], :autofocus => true, :class => 'search-input' %>
<% end %>

<ul class="search-result result-list">
  <li>
    <div class="result-description">
      <h2 class="result-title">
        <a href="">Lorem ipsum</a>
      </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est voluptatibus facere dolores molestias.</p>
    </div>
    <div class="result-action">
      <div class="username">
        <input type="text" value="Username"> <button>copy</button>
      </div>
      
      <div class="password">
        <a href="#" class="passwordLink"><svg class="icon-eye"><use xlink:href="#icon-eye"></use></svg> show password</a>
        <span class="hiddenPassword hide">password</span>
        <button>copy</button>
      </div>
    </div>
  </li>
</ul>
