.account-card.account-preview:hover {
  background-color: lightgray;
  cursor: pointer;
}

.account-card {
  max-height: 16em;
}

.account-card .account-accountname {
  /*height: 6em;*/
}

.account-card .account-description {
  height: 3em;
  overflow: hidden;
}

.account-card.account-detail {
  background-color: lightgray;
}

.account-card.account-detail > div {
  background-color: white;
}

.account-detail .icon-clippy {
  width: 19px;
}

.account-detail input[disabled] {
  width: 100%;
  height: 35px;
}

.copy-btn {
  height: 35px;
  width: 45px;
  border: 1px solid #c9c9c9;
}

.account-detail-key {
  width: 20%;
}
