$navbar-dark-brand-color: white;
$navbar-dark-brand-hover-color: $navbar-dark-brand-color;

@import "ember-bootstrap/bootstrap";
@import "pod-styles";
@import "secret_input";
@import 'ember-power-select';

.navbar-custom {
  background: #2988bc;
}

.navbar-icon {
  padding-right: 1px;
  padding-bottom: 2px;
  width: 19px;
  display: inline;
}

.ember-power-select-typeahead-trigger {
  border: none;
  border-radius: 0;
}

.ember-power-select-typeahead-input {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  border: 1px solid #aaaaaa;
  outline: none;
}

.ember-power-select-typeahead-input:focus {
  border: 1px solid #aaaaaa;
}

.d-inline {
  display: inline;
}

.float-right {
  float: right !important;
}

.mt-3 {
  margin-top: 3%;
}

.columns li.ember-power-select-option {
  width: 100%;
}

.x-toggle-component {
  width: 20%;
}

li a {
  cursor: pointer;
}

.ml-5 {
  margin-left: 5%;
}

/* Validation-errors */
.validation-errors {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 90%;
  font-weight: bold;
  color: #dc3545;
}

.invalid-input {
  border: 1px solid red !important;
}

.ember-power-select-trigger {
  height: 38px;
  line-height: 2.1;
}

.vertical-resize {
  resize: vertical;
}

#accountFormModalLabel {
  display: inline;
}

.mb-10 {
  margin-bottom: 10px;
}

.popover {
  min-width: 220px;
}

.private-description {
  background-color: #eee;
  position: absolute;
  padding: 2px;
  margin-left: 4px;
}

.icon-button {
  width: 18px !important;
  height: 18px !important;
  display: inline;
}

.info-icon:hover {
  cursor: help;
}

#checkbox-private {
  margin-left: 5px;
}

.checkbox label {
  padding-left: 0 !important;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #2988bc !important;
  border-color: #2479a7 !important;
}

.vertical-center {
  min-height: 92px;
  display: flex;
}

.modal-alert {
  width: 100% !important;
  margin-bottom: 15px !important;
}

/*Footer*/

.footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  background-color: #f9f9f9;
  width: 100%;
  border-top: 1px solid #cbc6c2;
  z-index: 9999;
  width: 100vw !important;
}

.footer form {
  padding-right: 50px;
}
