$navbar-dark-brand-color: white;
$navbar-dark-brand-hover-color: $navbar-dark-brand-color;

@import "ember-bootstrap/bootstrap";
@import "pod-styles";
@import "secret-input";

@import "ember-power-select/themes/bootstrap";

@import "ember-power-select";

@import "footer";
@import "nav-bar";
@import "side-nav-bar";
@import "account-card-show";
@import "account-show";
@import "password-strength-meter";
@import "folder-show";
@import "power-select";

.main {
  margin-left: 250px;
}

.d-inline {
  display: inline !important;
}

.justify-content-between {
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.float-right {
  float: right !important;
}

.pt-10 {
  padding-top: 10%;
}

.pt-10 {
  padding-top: 10%;
}
.p-15px {
  padding: 15px;
}

.m-4 {
  margin: 4%;
}

.mt-1 {
  margin-top: 1%;
}

.ml-2 {
  margin-left: 2%;
}
.ml-5 {
  margin-left: 5%;
}

.mb-2 {
  margin-bottom: 2%;
}
.mb-2 {
  margin-bottom: 2%;
}
.mb-10 {
  margin-bottom: 10px;
}

.w-4 {
  width: 4% !important;
}

.w-20 {
  width: 20% !important;
}

.columns li.ember-power-select-option {
  width: 100%;
}

.x-toggle-component {
  width: 20%;
}

[role="button"] {
  cursor: pointer;
}

li a {
  cursor: pointer;
}

.logo-icon {
  height: 40px;
}

.ml-5 {
  margin-left: 5%;
}

/* Validation-errors */
.validation-errors {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 90%;
  font-weight: bold;
  color: #dc3545;
}

.invalid-input-name > input {
  border: 1px solid red !important;
}

.invalid-input > textarea {
  border: 1px solid red !important;
}

.invalid-input-ps > div:nth-of-type(1) {
  border: 1px solid red !important;
}

.mt-32 {
  margin-top: 32px;
}

.ml-15 {
  margin-left: 15px;
}

.ember-power-select-trigger {
  height: 38px;
  line-height: 2.1;
}

.vertical-resize {
  resize: vertical;
}

.icon-big-button {
  width: 30px !important;
  height: 30px !important;
  display: inline;
}

.ml-254 {
  margin-left: 254px !important;
}

.icon-button {
  width: 18px !important;
  height: 18px !important;
  display: inline;
}

.info-icon:hover {
  cursor: help;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #2988bc !important;
  border-color: #2479a7 !important;
}

.vertical-center {
  min-height: 92px;
  display: flex;
}

.modal-alert {
  width: 100% !important;
  margin-bottom: 15px !important;
}

.bg-blue-one {
  background-color: #238bca !important;
  color: white !important;
}

.bg-blue-two {
  background-color: #1e5a96 !important;
  color: white !important;
}

.bg-blue-three {
  background-color: #3b7bbe !important;
  color: white !important;
}

.bg-header {
  background-color: #d1d1d1 !important;
  border-color: #b8b8b8 !important;
}

.ember-notify-default.ember-notify-cn {
  bottom: 3em !important;
}

.ember-basic-dropdown .ember-basic-dropdown-trigger {
  padding-top: 3px;
}

.dropdown-toggle-hided::after {
  display: none;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.p-15 {
  padding: 15px 15px 15px 15px !important;
}
