.float-right {
  float: right !important;
}

.mt-3 {
  margin-top: 3%;
}

.columns li.ember-power-select-option {
  width: 100%;
}

.x-toggle-component {
  width: 20%;
}

li a {
  cursor: pointer;
}

/* Validation-errors */
.validation-errors {
  color: red;
  font-size: small;
}

.ember-power-select-trigger {
  height: 34px;
  line-height: 2.1;
}

.vertical-resize {
  resize: vertical;
}

#accountFormModalLabel {
  display:  inline;
}

#team-power-select {
  height: 69px;
}

.mb-10 {
  margin-bottom: 10px;
}

.popover {
  min-width: 220px;
}

.progress-bar-0 {
  width: 0% !important;
  background-color: unset !important;
}
.progress-bar-10 {
  width: 10% !important;
  background-color: #fc0303 !important;
}

.progress-bar-25 {
  width: 25% !important;
  background-color: #fc0303 !important;
}

.progress-bar-50 {
  width: 50% !important;
  background-color: #fc6703 !important;
}
.progress-bar-75 {
  width: 75% !important;
  background-color: #fcc603 !important;
}
.progress-bar-100 {
  width: 100% !important;
  background-color: #4dd100 !important;
}


