.float-right {
  float: right !important;
}

.mt-3 {
  margin-top: 3%;
}

.columns li.ember-power-select-option {
  width: 100%;
}

.x-toggle-component {
  width: 20%;
}

li a {
  cursor: pointer;
}

/* Validation-errors */
.validation-errors {
  color: red;
  font-size: small;
}

.ember-power-select-trigger {
  height: 34px;
  line-height: 2.1;
}

.vertical-resize {
  resize: vertical;
}

#accountFormModalLabel {
  display:  inline;
}

#team-power-select {
  height: 69px;
}

.mb-10 {
  margin-bottom: 10px;
}
