.ember-power-select-typeahead-trigger {
  border: none;
  border-radius: 0;
}

.ember-power-select-typeahead-input {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  border: 1px solid #aaaaaa !default;
  outline: none;
}

.ember-power-select-typeahead-input:focus {
  border: 1px solid #aaaaaa !default;
}

.d-inline {
  display: inline;
}

.float-right {
  float: right !important;
}

.mt-1 {
  margin-top: 1%;
}

.mt-3 {
  margin-top: 3%;
}

.columns li.ember-power-select-option {
  width: 100%;
}

.x-toggle-component {
  width: 20%;
}

[role="button"] {
  cursor: pointer;
}

li a {
  cursor: pointer;
}

.ml-5 {
  margin-left: 5%;
}

/* Validation-errors */
.validation-errors {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 90%;
  font-weight: bold;
  color: #dc3545;
}

.invalid-input {
  border: 1px solid red !important;
}

.ember-power-select-trigger {
  height: 34px;
  line-height: 2.1;
}

.vertical-resize {
  resize: vertical;
}

#accountFormModalLabel {
  display: inline;
}

#team-power-select {
  height: 69px;
}

.mb-10 {
  margin-bottom: 10px;
}

.popover {
  min-width: 220px;
}

.private-description {
  background-color: #eee;
  position: absolute;
  padding: 2px;
  margin-left: 4px;
}

.icon-button {
  width: 18px !important;
  height: 18px !important;
  display: inline;
}

.info-icon:hover {
  cursor: help;
}

#checkbox-private {
  margin-left: 5px;
}

.checkbox label {
  padding-left: 0 !important;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #2988bc !important;
  border-color: #2479a7 !important;
}

.progress-bar-0 {
  width: 0% !important;
  background-color: unset !important;
}
.progress-bar-10 {
  width: 10% !important;
  background-color: #fc0303 !important;
}

.progress-bar-25 {
  width: 25% !important;
  background-color: #fc0303 !important;
}

.progress-bar-50 {
  width: 50% !important;
  background-color: #fc6703 !important;
}
.progress-bar-75 {
  width: 75% !important;
  background-color: #fcc603 !important;
}
.progress-bar-100 {
  width: 100% !important;
  background-color: #4dd100 !important;
}

/* FileUpload */

.dropzone-upload-area {
  border: 4px dotted #bbb;
  border-radius: 10px;
  height: 100px;
}

.dropzone-upload-area.active {
  border-color: #2988bc;
}

.dropzone-text {
  font-size: 16px;
  margin: auto;
}

.vertical-center {
  min-height: 92px;
  display: flex;
}

.modal-alert {
  width: 100% !important;
  margin-bottom: 15px !important;
}
