$navbar-dark-brand-color: white;
$navbar-dark-brand-hover-color: $navbar-dark-brand-color;

@import "ember-bootstrap/bootstrap";
@import "pod-styles";
/*@import "secret_input";*/
@import 'ember-power-select';

.navbar-custom {
  background: #2988bc;
}

.navbar-icon {
  padding-right: 1px;
  padding-bottom: 2px;
  width: 19px;
  display: inline;
}

.ember-power-select-typeahead-trigger {
  border: none;
  border-radius: 0;
}

.ember-power-select-typeahead-input {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  border: 1px solid #aaaaaa;
  outline: none;
}

.ember-power-select-typeahead-input:focus {
  border: 1px solid #aaaaaa;
}

.d-inline {
  display: inline !important;
}

.justify-content-between {
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.d-inline {
  display: inline !important;
}

.justify-content-between {
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.float-right {
  float: right !important;
}

.p-2 {
  padding: 2%;
}

.mt-1 {
  margin-top: 1%;
}

.mb-2 {
  margin-bottom: 2%;
}

.pt-10 {
  padding-top: 10%;
}

.w-20 {
  width: 20%;
}

.mb-2 {
  margin-bottom: 2%;
}

.pt-10 {
  padding-top: 10%;
}

.w-20 {
  width: 20%;
}

.columns li.ember-power-select-option {
  width: 100%;
}

.x-toggle-component {
  width: 20%;
}

[role="button"] {
  cursor: pointer;
}

li a {
  cursor: pointer;
}

.ml-5 {
  margin-left: 5%;
}

/* Validation-errors */
.validation-errors {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 90%;
  font-weight: bold;
  color: #dc3545;
}

.invalid-input {
  border: 1px solid red !important;
}

.ember-power-select-trigger {
  height: 38px;
  line-height: 2.1;
}

.vertical-resize {
  resize: vertical;
}

#accountFormModalLabel {
  display: inline;
}

.mb-10 {
  margin-bottom: 10px;
}

.popover {
  min-width: 220px;
}

.private-description {
  background-color: #eee;
  position: absolute;
  padding: 2px;
  margin-left: 4px;
}

.icon-button {
  width: 18px !important;
  height: 18px !important;
  display: inline;
}

.info-icon:hover {
  cursor: help;
}

#checkbox-private {
  margin-left: 5px;
}

.checkbox label {
  padding-left: 0 !important;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #2988bc !important;
  border-color: #2479a7 !important;
}

.vertical-center {
  min-height: 92px;
  display: flex;
}

.modal-alert {
  width: 100% !important;
  margin-bottom: 15px !important;
}

.folder-divider {
  border: 1px solid #238bca;
}

.folder-header {
  font-weight: bold;
  font-size: 18px !important;
  color: #238bca;
}

.folder-edit-icon {
  /* filter for #238bca color, used https://codepen.io/sosuke/pen/Pjoqqp to generate */
  filter: invert(42%) sepia(69%) saturate(780%) hue-rotate(164deg)
    brightness(95%) contrast(84%);
}

.folder-divider {
  border: 1px solid #238bca;
}

.folder-header {
  font-weight: bold;
  font-size: 18px !important;
  color: #238bca;
}

.folder-edit-icon {
  /* filter for #238bca color, used https://codepen.io/sosuke/pen/Pjoqqp to generate */
  filter: invert(42%) sepia(69%) saturate(780%) hue-rotate(164deg)
    brightness(95%) contrast(84%);
}

.account-thumbnail.account-preview:hover {
  background-color: lightgray;
  cursor: pointer;
}

.account-thumbnail {
  width: 20%;
}

.account-thumbnail hr {
  margin: 0;
}

.account-thumbnail .account-accountname {
  min-height: 6em;
}

.account-thumbnail .account-description {
  max-height: 3em;
}

.account-thumbnail.account-detail {
  background-color: lightgray;
}

.account-thumbnail.account-detail > div {
  background-color: white;
}

.account-detail .icon-clippy {
  width: 19px;
}

.account-detail input[disabled] {
  width: 100%;
  height: 35px;
}

.account-detail .copy-btn {
  height: 35px;
}

.account-detail-key {
  width: 20%;
}

.nav-side-bar {
  margin-top: 52px;
  max-width: 300px;
}

.just-padding {
  padding: 15px;
}

.nav-side-bar {
  max-width: 300px;
  border-width: 0px !important;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 0px;
  border-top-width: 1px;
  border-color: #1a4d81;
  cursor: default;
}

.list-group.list-group-root > .list-group > .list-group-item:first-child {
  border-top-color: #238bca;
}

.list-group.list-group-root
  > .list-group
  > .list-group-item:first-child.selected-nav-entry {
  border-top-color: #16416c;
  border-bottom-color: #16416c;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 45px;
  margin-top: 1px;
  border-width: 0px;
  border-top-width: 1px;
  border-color: #1b6d9f;
}

.top-item {
}

.bg-blue-one {
  background-color: #238bca !important;
  color: white !important;
}

.bg-blue-two {
  background-color: #1e5a96 !important;
  color: white !important;
}

.bg-blue-three {
  background-color: #3b7bbe !important;
  color: white !important;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 51px;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #238bca;
  color: #fff;
  transition: all 0.3s;
  border-right-width: 1px;
  border-color: #1b6d9f;
}

#teams-show-container {
  margin-left: 27%;
}
