.bg-blue-one {
  background-color: #238bca !important;
  color: white !important;
}

.bg-blue-two {
  background-color: #1e5a96 !important;
  color: white !important;
}

.bg-blue-three {
  background-color: #3b7bbe !important;
  color: white !important;
}

bg-white {
  background-color: white !important;
}

.bg-grey-1 {
  background-color: #f5f5f5 !important;
}

.bg-grey-2 {
  background-color: #e6e6e6 !important;
}

.bg-grey-3 {
  background-color: #ededed;
}
