.bg-blue-one {
  background-color: #F8F8F8 !important;
  color: #3b3c3e !important;
}

.bg-blue-two {
  background-color: #1e5a96 !important;
  color: white !important;
}

.bg-white {
  background-color: white !important;
}

.bg-grey-2 {
  background-color: #e6e6e6 !important;
}

.bg-grey-3 {
  background-color: #ededed;
}


.bg-light-blue {
  background-color: #f8f8f8;
}

@media screen and (max-width: 991px) {
  .bg-blue-three {
    background-color: rgba(0, 0, 0, 0.18) !important;
    color: white !important;
  }
}

@media screen and (min-width: 992px) {
  .bg-blue-three {
    background-color: #1E5A96 !important;
    color: white !important;
  }
}
