.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

#locale-dropdown > div {
  width: 120px;
  border: none !important;
}

.ember-power-select-trigger {
  height: auto !important;
  line-height: 1.7 !important;
}
