.footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  background-color: #f9f9f9;
  border-top: 1px solid #cbc6c2;
  z-index: 9999;
  width: 100vw !important;
}

.footer form {
  padding-right: 50px;
}

.p-10 {
  padding-left: 18px !important;
}

pr-12 {
  padding-right: 12px;
}
