.navbar-custom {
  background: #1b8dc6;
  z-index: 998;
}

.navbar-icon {
  padding-right: 1px;
  padding-bottom: 2px;
  width: 19px;
  display: inline;
}

nav a.nav-link {
  color: white !important;
}

.dropdown-toggle-hided::after {
  display: none;
}

.ml-238 {
  margin-left: 238px !important;
}

.vertical-center-icon {
  margin-bottom: 4px !important;
}

.dropdown .btn-group > a {
  color: #ffffff;
  background-color: #3b7bbe;
  border-color: #1e5a96;
}

.dropdown .btn-group > a:hover {
  color: #ffffff;
  background-color: #1e5a96;
  border-color: #195575;
}

.dropdown-menu {
  left: -114px !important;
  width: 155px;
}

.dropdown .dropdown-item:active {
  background-color: #f8f9fa;
}

#search {
  width: 300px;
}
