.ember-power-select-typeahead-trigger {
  border: none;
  border-radius: 0;
}

.ember-power-select-typeahead-input {
  width: 100%;
  border: 1px solid #aaaaaa;
  outline: none;
}

.ember-power-select-typeahead-input:focus {
  border: 1px solid #aaaaaa;
}

.ember-power-select-trigger {
  height: 38px;
  line-height: 2.1;
  padding: 0;
}
