//  font from: https://github.com/noppa/text-security

@font-face {
  font-family: "text-security-disc";
  src: url("http://localhost:3000/text-security-disc-compat.eot");
  src: url("http://localhost:3000/text-security-disc-compat.eot?#iefix") format("embedded-opentype"),
    url("http://localhost:3000/text-security-disc.woff2") format("woff2"),
    url("http://localhost:3000/text-security-disc-compat.ttf") format("truetype");
}

input.secret {
  font-family: text-security-disc;
}

.secret input {
  font-family: text-security-disc;
}
