//  font from: https://github.com/noppa/text-security

@font-face {
  font-family: text-security-disc;
  src: url("https://raw.githubusercontent.com/noppa/text-security/master/dist/text-security-disc.woff");
}

input.secret {
  font-family: text-security-disc;
  -webkit-text-security: disc;
}

.secret input {
  font-family: text-security-disc;
}
