#sidebar {
  width: 250px;
  position: fixed;
  top: 0px;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #238bca;
  color: #fff;
  transition: all 0.3s;
}

.nav-side-bar {
}

#nav-side-bar-container {
  border-width: 0px !important;
}

.navbar-header {
  padding-left: 32px !important;
}

.nav-side-bar .toggle-button{
  background-color: #3b7bbe;
  border-color: #1e5a96;
}

.nav-side-bar .toggle-button:hover {
  background-color: #1e5a96;
  border-color: #195575;
}

.nav-side-bar .toggle-button.active {
  background-color: #1e5a96 !important;
  border-color: #195575 !important;
}

.p-0 {
  padding: 0px !important;
}

.list-group.list-group-root {
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group-item button {
  width: 70px;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 0px;
  border-top-width: 1px;
  border-color: #1a4d81;
  padding-left: 30px;
  cursor: default;
}

.list-group.list-group-root .list-group .list-group-item {
  border-width: 0px;
  border-top-width: 1px;
  border-color: #16416c;
  padding-left: 50px;
}

.side-nav-bar-teams-list {
  overflow-y: auto;
  height: auto;}

.side-nav-bar-teams-list .list-group-item:hover {
  cursor: pointer;
}

.side-nav-bar-teams-list .list-group-item.bg-blue-one:hover {
  background-color: #3b7bbe !important;
}

.side-nav-bar-teams-list .list-group > .list-group-item.bg-blue-three:hover {
  background-color: #1e5a96 !important;
}
