$sidebar-height: calc(90vh - 253px);

#sidebar {
  height: $sidebar-height;
  max-height: $sidebar-height;
}

.side-scrollbar {
  height: $sidebar-height;
  overflow-y: scroll;
}

#nav-side-bar-container {
  border-width: 0 !important;
}

.toggle-button:hover {
  background-color: white;
}

.toggle-button.active {
  background-color: white !important;
  border-color: #238BCA !important;
}

.toggle-button:focus {
  box-shadow: none !important;
}

.p-0 {
  padding: 0 !important;
}

.button-group {
  width: 250px;
  border-radius: 0;
}

@media screen and (max-width: 991px) {
  .button-group {
    width: 100%;
  }
}

.btn {
  border: none;
}

.list-group.list-group-root .list-group-item button {
  width: 70px;
}

.list-group-top-button {
  margin-top: 30px;
  margin-bottom: 15px;
  height: 47.5px;
}

.list-group-top-button:hover {
  background-color: transparent;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group-item {
  border: none;
  padding-left: 15px;
  cursor: default;
  margin-bottom: 5px;
  height: 40px;
  padding-top: 7px !important;
}

.list-group-item:last-of-type {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group .list-group-item {
  border-width: 0;
  border-top-width: 1px;
  border-color: #16416c;
  padding-left: 45px;
}

.side-nav-bar-teams-list {
  overflow-y: auto;
}

.list-group-item[aria-expanded="true"] {
  background-color: black !important;
  border-color: #aed248;
}

.list-folder-item {
  color: #3b3c3e !important;
}

.list-folder-item:last-child {
  margin-bottom: 5px;
}

.list-group {
  border-radius: 0 !important;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 991px) {
  .sidebar {
    width: 100%;
  }

  .teams-list {
    overflow-y: scroll;
    margin-top: 10px;
  }

  .side-nav-bar-teams-list .list-group-item:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.12) !important;
  }

  .toggle-button.active {
    background-color: rgba(0, 0, 0, 0.12) !important;
    border-color: #116289 !important;
  }

  .toggle-button {
    border-bottom: 5px solid !important;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: rgb(220, 220, 220) !important;
  }
}

@media (max-width: 1500px) and (min-width: 992px) {
  .toggle-button.active {
    background-color: white !important;
    border-color: #1b8dc6 !important;
  }

  .toggle-button {
    border-bottom: 5px solid !important;
    background-color: transparent !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: rgba(167, 167, 167, 0.44) !important;
  }

}

@media screen and (min-width: 1501px) {
  .side-nav-bar-teams-list .list-group-item:hover {
    cursor: pointer;
    background-color: #1b8dc6 !important;
  }

  .side-nav-bar-teams-list .list-group > .list-group-item.bg-blue-three:hover {
    background-color: #1e5a96 !important;
  }

  .toggle-button {
    border-bottom: 5px solid !important;
    background-color: transparent !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: rgba(167, 167, 167, 0.44) !important;
  }

}

@media screen and (min-width: 992px) {
  .sidebar {
    background-color: #ffffff;
  }

  .toggle-button.active {
    background-color: #fff !important;
    border-color: #238BCA !important;
  }

  .scroll-bar {
    margin-top: 5px;
  }
}

.search {
  display: flex;
  max-width: var(--pzsh-breakpoint);
  overflow: initial;
}

.search-field {
  flex: auto;
  position: relative;
  display: flex;
  overflow: hidden;
}

.search-field input,
.search button {
  padding: var(--pzsh-spacer);
  font-size: 1rem;
  line-height: var(--pzsh-icon-size);
}

.search-field input {
  flex: auto;
  padding-right: calc(2 * var(--pzsh-spacer) + var(--pzsh-icon-size));
  min-width: 0;
  border: 1px solid var(--pzsh-color-gray-3);
}

.search-field button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
}

.search-field input::placeholder,
.search button {
  color: var(--pzsh-color-gray-4);
}

.search button {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;
}

.search button.add {
  flex: none;
  white-space: nowrap;
  margin-right: calc(-1 * var(--pzsh-spacer));
  color: var(--pzsh-color-brand-1);
  background-color: transparent;
}

.search button.add > span {
  display: none;
}

@media (min-width: 800px) {
  .search {
    padding: 0 var(--pzsh-page-padding-horizontal-desktop);
  }
  .search button.add {
    margin-left: calc(2 * var(--pzsh-spacer));
  }
  .search button.add > span {
    display: inline;
    padding-left: calc(0.5 * var(--pzsh-spacer));
  }
}
