%script{src: "/wakeUp.js"}
.login-form
  = image_tag "/assets/images/cryptopussy_oidc_sleep.svg", class: 'logo'
  .form-group
    .alert.alert-login-box.alert-info
      = t('.sleep')
    = link_to t('.submit'),"",class: 'btn btn-primary'
