<tr>
  <td><a  target="_blank" rel="noopener">{{@fileEntry.filename}}</a></td>
  <td>{{@fileEntry.description}}</td>
  <td>
    <DeleteWithConfirmation @record={{@fileEntry}}>
      <img class="icon-button d-inline" src="/assets/images/delete.svg" alt="delete">
    </DeleteWithConfirmation>
  </td>
</tr>
