<tr>
  <td><a href={{this.downloadLink}} target="_blank" rel="noopener">{{@encryptableFile.name}}</a></td>
  <td>{{@encryptableFile.description}}</td>
  <td>
    <DeleteWithConfirmation @record={{@encryptableFile}}>
      <img class="icon-button d-inline" src="/assets/images/delete.svg" alt="delete">
    </DeleteWithConfirmation>
  </td>
</tr>
