* {
	margin: 0; padding: 0; border: 0;
}

body {
	margin:0;
    padding:0;
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	letter-spacing: -0.04em;
	color: #404040;
	background: #345050;
	min-width:1050px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

#header {
	text-align: center;
	margin-top: 20px;
}

h1 {
	font-size: 1.5em;
	letter-spacing: -0.1em;
	word-spacing: 0.1em;
	padding: 0.3em;
	margin-bottom: 0.5em;
	background: #dbfb8b;
}

h2 {
  font-size: 1em;
}

li {
  list-style-type: none;
}

#content table {
	width: 100%;	
}
#content th {
	text-align:left;
}
#content td {
  padding: 0.1em;
  padding-left: 0.4em;
}

#wrap {
	width:1050px;	
	margin:0 auto;
}

#main {
	margin: 10px 5%;
	background: #ffffff;
	border: 1px solid #000000;
}

#content {
  width: 810px;
  background: #FEFFDF;
  padding: 10px 5px;	
  border-right: 2px dotted #000000;	
}

#content form {
	background: #ffffff;
	width: 400px;
	margin: 10px auto;
}

#content input,#content textarea,#content select {
	background:#CCCCCC;
	font-size: 0.8em;
	overflow: auto;
	margin: 2px 20px 2px 2px;
}

#content legend {
	font-weight:bold;
	font-size:1.2em;
}

#content label, input, textarea {
	display: block;  	
}


#content fieldset {
	padding:10px;
	border: 1px solid;
}

.odd {
  background: #d8eaab;
}

.even {
  background: #e8fabb;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

p.clearer {
	clear:both;
}

/* NOTIFICATIONS */
#messages{
	text-align: left;
	font-size: 1em;
	padding: 0px 20px;
}

#notification{
	margin: 10px;	
	border: 5px solid #9c9;
	background-color: #cfc;
	padding: 5px 10px;
}

#error {
	margin: 10px;	
	padding: 5px 10px;
	border: 5px solid red;
	background-color: #FF4F4F;
	font-weight: bolder;
	font-size: small;
}

/* login form */
#loginform {
	width:330px;
}

#loginform p {
	color:	#000000;
	background-color:#E7E7E7;
	padding: 5px;
}

p#logoutmessage {
	margin: 50px;
	padding: 7px;
	line-height: 2em;
	font-size: 1.5em;
	border: 5px solid #9c9;
	background-color: #cfc;
	
}

#footer {
    background:#cc9;
    clear:both;
}

#footer p {
	padding: 5px 10px;
}

/* rails stuff */
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
div.uploadStatus {
  margin: 5px;
}
div.progressBar {
  margin: 5px;
}
div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}
div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

.mytooltip {
    cursor: help;
    color: green;
    border-bottom: 1px dotted green
}
