#navcontainer {
  padding: 10px;
  float: right;
  font-size: 1em;
  width: 100px;
  list-style-type: none;
  background: #ffffff;
}
#navcontainer li {
  padding-left: 10px;
  float: left;
  display: block;
  width: auto;
}
#navcontainer li a, #navcontainer li a:link {
  display: block;
  text-decoration: none;
}
#navcontainer li a:hover {
  cursor: pointer;
  color: #039;
  background: #eee;
}
#navcontainer li a#current, #navcontainer li a#current:link {
  color: #000;
  cursor: default;
  font-weight: bold;
}
#navcontainer li a#current:hover {
  background: #eee;
}