<li><%= link_to image_tag( "kontact_contacts.png" ) + " Teams ", :controller => "teams", :action => "list" %></li>
</ul>
<h2>Action</h2>
<ul>
<li><%= link_to image_tag("add.png") + " Create group", :controller => "groups", :action => "new" %></li>
</ul>