-#  Copyright (c) 2008-2017, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

%h1
  = t '.title', team_name: team.name
  - if team.private?
    =image_tag('encrypted_small.svg')
%br

%ul.teams-nav.nav.nav-tabs
  %li.tab.active
    %a{"data-toggle" => "tab", href: "#groups"}
      Groups
  %li.tab
    %a{"data-toggle" => "tab", href: "#members", id: 'members-tab'}
      Members
  
.tab-content.teams-content
  #groups.tab-pane.fade.in.active
    = render 'groups'
  #members.tab-pane.fade
    = render 'members'
