<EmberNotify @messageStyle="bootstrap" @closeAfter={{4000}}/>
<NavBar/>

<div class="content">
  <div class="show-not-on-hamburgermenu">
    <SideNavBar/>
  </div>
  <div class="mb-5 mt-60 ml-270px" role="main">
    {{outlet}}
  </div>
</div>

<Footer/>
