<EmberNotify @messageStyle="bootstrap" @closeAfter={{4000}}/>
<NavBar/>

<div class="content">
  {{#if this.navService.showSideNavBar}}
    {{#if (not this.screenWidthService.isShownOnHamburgermenu)}}
      <div class="sidebar-wrapper">
        <SideNavBar/>
      </div>
    {{/if}}
  {{/if}}
  {{#if this.navService.showSideNavBar}}
    <div class="mb-5 ml-270px" role="main">
      {{outlet}}
    </div>
  {{else}}
    <div role="main">
      {{outlet}}
    </div>
  {{/if}}
</div>
<LastLogin/>

<Footer/>
