<EmberNotify @messageStyle="bootstrap" @closeAfter={{4000}}/>
<NavBar/>

{{#if this.isOnDashboardRoute}}
  <pzsh-hero>
    <h1 slot="title">Puzzle Cryptopus</h1>
    <h2 slot="slogan">The place for passwords</h2>
    <!-- prettier-ignore -->
    <svg slot="logo" width="99" height="126" viewBox="0 0 99 126" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M50 50C64.9117 50 77 38.8071 77 25C77 11.1929 64.9117 0 50 0C35.0883 0 23 11.1929 23 25C23 38.8071 35.0883 50 50 50Z" fill="#1C2948"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M25.0639 31.9842C25.0639 40.435 20.8635 43.7079 12.4626 41.8031C-0.138711 38.9458 8.39927 27.2237 6.1454 27.7343C3.89153 28.2448 -1.49252 32.142 1.00008 41.0569C2.66181 47.0002 8.21778 50.8776 17.668 52.6891C8.06344 59.6287 3.05927 65.8372 2.65549 71.3146C2.04982 79.5308 14.8799 91.8249 14.8799 90.5116C14.8799 89.1984 8.20834 76.4061 11.2312 71.3146C14.2541 66.2232 29.5109 60.8292 31.9582 61.7466C33.2724 62.2392 27.5001 68.864 26.3187 76.6537C25.3001 83.3704 28.1245 91.1243 36.7806 94.5417C55.4757 101.923 71.9837 93.5331 73.2057 91.5476C73.9821 90.2862 63.6133 93.7575 54.3774 92.9594C49.0758 92.5013 43.9123 90.0358 42.0437 85.9905C36.9197 74.8979 57.3066 59.0814 59.3554 59.0814C61.4042 59.0814 82.4932 65.1315 86.9955 72.8589C91.4979 80.5863 82.076 90.6623 84.4271 90.5116C86.7781 90.361 95.9174 80.488 95.7502 72.2979C95.5829 64.1078 83.3171 54.1841 81.6787 52.6891C80.0404 51.194 96.1226 49.0393 98.0001 41.8031C99.8775 34.5669 91.8286 24.3206 92.7083 28.6376C93.5879 32.9546 95.7708 41.258 85.8136 41.8031C79.1754 42.1665 74.5671 39.0819 71.9887 32.5491L25.0639 31.9842Z" fill="#1C2948"/>
      <path d="M43.5 23C46.5376 23 49 21.2091 49 19C49 16.7909 46.5376 15 43.5 15C40.4624 15 38 16.7909 38 19C38 21.2091 40.4624 23 43.5 23Z" fill="white"/>
      <path d="M46.5 21C47.3284 21 48 20.3284 48 19.5C48 18.6716 47.3284 18 46.5 18C45.6716 18 45 18.6716 45 19.5C45 20.3284 45.6716 21 46.5 21Z" fill="#063852"/>
      <path d="M55 22C57.7614 22 60 20.6569 60 19C60 17.3431 57.7614 16 55 16C52.2386 16 50 17.3431 50 19C50 20.6569 52.2386 22 55 22Z" fill="white"/>
      <path d="M49.5 34C53.0899 34 56 31.9853 56 29.5C56 27.0147 53.0899 25 49.5 25C45.9101 25 43 27.0147 43 29.5C43 31.9853 45.9101 34 49.5 34Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M49.5 29L51.5366 31.8159L54 40H45L47.583 31.8159L49.5 29Z" fill="white"/>
      <path d="M52.5 21C53.3284 21 54 20.3284 54 19.5C54 18.6716 53.3284 18 52.5 18C51.6716 18 51 18.6716 51 19.5C51 20.3284 51.6716 21 52.5 21Z" fill="#063852"/>
      <ellipse cx="51" cy="120" rx="44" ry="6" fill="#DCEAF1"/>
    </svg>
  </pzsh-hero>
{{else}}
  <div class="content">
    {{#if this.navService.showSideNavBar}}
      {{#unless this.screenWidthService.isShownOnHamburgermenu}}
        <div class="sidebar-wrapper">
          <SideNavBar/>
        </div>
      {{/unless}}
    {{/if}}

    {{#if this.navService.showSideNavBar}}
      <div class="mb-5 ml-270px" role="main">
        {{outlet}}
      </div>
    {{else}}
      <div role="main">
        {{outlet}}
      </div>
    {{/if}}
  </div>
{{/if}}
<LastLogin/>

<Footer/>
