<NavBar />

<div id="sidebar">
  <div class="navbar-header">
    <a href="/teams" class="navbar-logo"><img src="ember/assets/images/cryptopussy_without_text.svg" alt="logo" class="logo-icon"></a>
    <a href="/teams" class="navbar-brand">Cryptopus</a>
  </div>
  <nav class="navbar-inverse nav-side-bar">
    <SideNavBar @teams={{this.model}} />
  </nav>
</div>
<div class="main" role="main">
  {{outlet}}
</div>
<Footer />
