<EmberNotify @messageStyle="bootstrap" @closeAfter={{4000}}/>
<NavBar/>

<div class="content">
  {{#if (not this.screenWidthService.isShownOnHamburgermenu)}}
    <div class="show-not-on-hamburgermenu">
      <SideNavBar/>
    </div>
  {{/if}}
  <div class="mb-5 mt-60 ml-270px" role="main">
    {{outlet}}
  </div>
</div>
<LastLogin/>


<Footer/>
