<EmberNotify @messageStyle="bootstrap"@closeAfter={{4000}}/>
<NavBar/>

<div style="width: 66.6%; margin: 0 auto">
  <SideNavBar/>
  <div class="mb-5 mt-60 ml-254" role="main" style="margin-left: 270px !important;">
    {{outlet}}
  </div>
</div>

<Footer/>
