<div class="container py-2">
  <div class="row py-2 bg-white border border-darker rounded my-4">
    <div class="col">
      <h3>{{t "session.newuser.title"}}!</h3>

      <p>{{t "select_team"}}</p>


    </div>
  </div>
</div>
