<div class="container py-2">
  <div class="row py-2 bg-white border border-darker rounded my-4">
    <div class="col">
      <h3>{{t "hi_user"}} {{this.model}}!</h3>
      <p>{{t "intro"}}</p>
    </div>
  </div>
</div>
