<div class="pt-3">
  <IndexButton></IndexButton>
  <div class="pt-3">
    <div class="row justify-content-between">
      <div class="col-lg-auto">
        <h2>{{t "log.info"}}</h2>
      </div>
    </div>
    <Personal-Log::Table @logs{{@model.versions}}/>
  </div>
</div>
