// Place all the styles related to the admin/Teamlist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.members-list {
  list-style-type: none;
  padding: 0;
}

.teamlist-row {
  width: 25%
}
