<div class="container py-2">
  <div class="mt-4">
    {{#if q}}
      <SearchResultComponent @q={{q}}/>
    {{/if}}
    {{#if @model}}
      {{#each @model as |team|}}
        <TeamShow @team={{team}} />
      {{/each}}
    {{else}}
      <h5>{{t "teams.index.no_content"}}</h5>
    {{/if}}
  </div>
</div>
