#movescreen {
  width: 600px;
  margin: 10% auto;
  padding: 10px 10px 70px 10px;
  background: white;
  position: relative;
  z-index: 10;
  border: 5px solid #cccccc;
  border-radius: 10px;
}

#movescreen_buttons {
  margin-top: 10px;
}

#edit_account_button {
  padding: 6px;
  border: 1px solid #c9c9c9;
  width: 45px;
  background-color: #ebe3df;
}

#edit_account_button:hover {
  background-color: #ffffff;
}

#account_password {
  width: 50%;
}
#generate_button {
  width: 24%;
}

.description-text {
  color: grey;
}
