#movescreen {
  width: 600px;
  margin: 10% auto;
  padding: 10px 10px 70px 10px;
  background: white;
  position: relative;
  z-index: 10;
  border: 5px solid #cccccc;
  border-radius: 10px;
}

#movescreen_buttons {
  margin-top: 10px;
}

#account_password {
  width: 50%;
}
#generate_button {
  width: 24%;
}

#account-form-tabs {
  margin-top: 20px;
}

.description-text {
  color: grey;
}
