<div class="dashboard-grid-card">
  <div class="dashboard-card-icon">
    <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
              d="M32.8559 7.55682L30.4892 5.20682L32.8559 2.85682C33.1697 2.54298 33.346 2.11732 33.346 1.67349C33.346 1.22965 33.1697 0.803992 32.8559 0.490153C32.542 0.176313 32.1164 0 31.6725 0C31.2287 0 30.803 0.176313 30.4892 0.490153L12.9225 18.0568C11.1993 16.9199 9.11531 16.4631 7.07447 16.775C5.03364 17.0868 3.18122 18.1452 1.87617 19.7449C0.571114 21.3446 -0.0936621 23.3718 0.0106518 25.4337C0.114966 27.4956 0.980943 29.4454 2.44078 30.9052C3.90063 32.3651 5.85039 33.231 7.91228 33.3354C9.97418 33.4397 12.0014 32.7749 13.6011 31.4698C15.2008 30.1648 16.2592 28.3124 16.571 26.2715C16.8829 24.2307 16.4261 22.1467 15.2892 20.4235L23.4225 12.2735L25.7725 14.6402C25.9283 14.7946 26.113 14.9168 26.316 14.9998C26.5191 15.0827 26.7365 15.1248 26.9559 15.1235C27.1752 15.1248 27.3926 15.0827 27.5957 14.9998C27.7988 14.9168 27.9835 14.7946 28.1392 14.6402C28.2954 14.4852 28.4194 14.3009 28.504 14.0978C28.5886 13.8947 28.6322 13.6768 28.6322 13.4568C28.6322 13.2368 28.5886 13.019 28.504 12.8159C28.4194 12.6128 28.2954 12.4284 28.1392 12.2735L25.7725 10.0068L28.1392 7.64015L30.4892 10.0068C30.6449 10.1613 30.8296 10.2835 31.0327 10.3664C31.2357 10.4494 31.4532 10.4914 31.6725 10.4902C31.8919 10.4914 32.1093 10.4494 32.3124 10.3664C32.5154 10.2835 32.7001 10.1613 32.8559 10.0068C33.025 9.85075 33.16 9.66133 33.2524 9.4505C33.3447 9.23966 33.3924 9.01199 33.3924 8.78182C33.3924 8.55165 33.3447 8.32397 33.2524 8.11314C33.16 7.90231 33.025 7.71289 32.8559 7.55682ZM8.33919 30.0068C7.35028 30.0068 6.38358 29.7136 5.56134 29.1642C4.73909 28.6148 4.09823 27.8339 3.71979 26.9202C3.34136 26.0066 3.24234 25.0013 3.43526 24.0314C3.62819 23.0615 4.10439 22.1705 4.80366 21.4713C5.50292 20.772 6.39383 20.2958 7.36374 20.1029C8.33364 19.91 9.33898 20.009 10.2526 20.3874C11.1662 20.7659 11.9471 21.4067 12.4965 22.229C13.0459 23.0512 13.3392 24.0179 13.3392 25.0068C13.3392 26.3329 12.8124 27.6047 11.8747 28.5424C10.937 29.48 9.66527 30.0068 8.33919 30.0068Z"
              fill="white"/>
    </svg>
  </div>

  <h1 class="header">{{this.content.name}}</h1>
</div>
