<LinkTo @route="index">
  <span class="btn btn-secondary admin-back-button" role="button">
    <img class="icon-button encryptable-show-back" src="/assets/images/arrow-left.svg" alt="back">
  </span>
</LinkTo>
