{{#if this.password}}{{t "encryptable/credentials.edit.password_strength"}} : {{/if}} {{if this.scoreRanking (t (concat "encryptable/credentials.edit.password_strengths."  this.scoreRanking))}}
<div class="progress">
  <div class="progress-bar {{progressClass}}" role="progressbar"  aria-valuenow={{this.barWidth}} aria-valuemin="0" aria-valuemax="100">
  </div>
</div>
