{{t "account.form.passwordStrength"}}
<div class="progress" >
  <div class="progress-bar {{progressClass}}" role="progressbar"  aria-valuenow={{this.score}} aria-valuemin="0" aria-valuemax="100">
  </div>
</div>