// Header style
// Sample header style
// =================================================================================

/*
 * Header style
 */
.site-header {
	display: block;
  @include clearfix;
  text-align: center;
}
.site-header-logo {
  
}

#option {
  position: absolute;
  top: 100px;
  right: 0;
}