// Menu style
// Sample menu style
// =================================================================================

/*
 * Menu style
 */
.main-navigation {
	margin: $padding*0.5 0 0;
  ul {
		@include reset-list;
	}
}

nav { 
  @include border-radius(3px);
  background: $gray; 
  padding: $padding*0.25 $padding*0.25 0; 

} 