// Menu style
// Sample menu style
// =================================================================================

/*
 * Menu style
 */
.main-navigation {
  ul {
		@include reset-list;
	}
}

nav { 
  @include border-bottom-radius(3px);
  background: $gray; 
  @include adjust-font-size-to(14px);
  padding: $padding*0.15 $padding*0.25; 
} 
.nav-pills > li {

  &.logout {
    float: right;
  }

  [class^="icon-"], 
  [class*=" icon-"] {
    float: left;
    margin: -2px 6px 0 -4px;
  }
}