.form-group
  = hidden_field_tag 'setting[general_ip_whitelist][]', ""
  = label_tag "Whitelisted ips"
  = select_tag 'setting[general_ip_whitelist]',
      options_for_select(Setting.value('general', 'ip_whitelist')),
      multiple: true,
      id: 'ip-whitelist',
      hidden: true,
      'data-whitelist': Setting.value('general', 'ip_whitelist'),
      placeholder:  GeoIp.activated? ? '' : t('admin.settings.index.whitelist_placeholder_geo_ip_deactivated')

  .hint
    %p To specify a single IP address, just enter it like: <kbd>192.0.2.10</kbd>.
    %p To specify a range you can enter the IP address with the subnet mask: <kbd>192.0.2.0/24</kbd>. This would be the range between <kbd>192.0.2.0</kbd> and <kbd>192.0.2.255</kbd>
    %p IPv6 is allowed and can be entered like this: <kbd>2001:db8::/32</kbd>
