%h1= t('.title')
- @submit_button_text = t(:update)
= form_tag :update_all_admin_settings, role: 'form' do
  - @settings.each do |setting|
    = input_field_setting(setting)
  %br/
  = submit_tag "submit", class: 'btn btn-primary'
