-#  Copyright (c) 2008-2017, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.
%br
%ul.settings-nav.nav.nav-tabs
  %li#accounts.tab.active
    %a{"data-toggle" => "tab", href: "#general-settings"}
      General
  %li#groups.tab
    %a{"data-toggle" => "tab", href: "#ldap-settings"}
      LDAP
      
- @submit_button_text = t(:update)
= form_tag :update_all_admin_settings, role: 'form' do
  .tab-content.settings-content
    #general-settings.tab-pane.fade.in.active
      = render 'general'
    #ldap-settings.tab-pane.fade
      = render 'ldap'
    = submit_tag t('admin.settings.index.save'), class: 'btn btn-primary'
