[class^="icon-"], 
[class*=" icon-"] {
  height: 24px;
  width: 24px;
  display: inline-block;
  fill: currentColor;

  &.lg {
    height: 32px;
    width: 32px;
  }
  &.sm {
    height: 18px;
    width: 18px;
  }
}