// Main styles
// You can write your main styles(eg: content, article etc) here
// Or you can separate this main file into several files(eg: header.scss, footer.scss etc)
// =================================================================================

/*
 * Sample seperate main styles
 * See 'main' Folder
 */
@import "main/header";
@import "main/menus";
@import "main/footer";

html {
  height: 100%;
}

body {
  height: 100%;
  @include background-image(radial-gradient($whiteDark, $grayLighter));
}

header, footer, #main > aside {
  padding: $padding*0.5 0;
  @include responsive(ipad) {
    padding: $padding*0.5 $padding;
  }
}

#content {
  // @include single-box-shadow($grayLighter);
  // background: $whiteDark;
  padding: $padding;
}

#main > aside {
  // background: $brown;
  padding: $padding;
  // color: white;
}


#countdownWrapper {
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  padding: 0.5em 1em;
  @include border-top-left-radius(3px);
  z-index: 999;
}

.field_with_errors input{
	border: 2px solid red;
}

.field_with_errors input:focus{
	border: 2px solid red;
  box-shadow: 0px 1px 1px rgba(255, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 50, 50, 0.6);

}

// Modules:
@import "search";
@import "result";
@import "icons";