// Main styles
// You can write your main styles(eg: content, article etc) here
// Or you can separate this main file into several files(eg: header.scss, footer.scss etc)
// =================================================================================

/*
 * Sample seperate main styles
 * See 'main' Folder
 */
@import "main/header";
@import "main/menus";
@import "main/footer";

html {
  height: 100%;
} 

body {
  height: 100%;
  @include background-image(radial-gradient($whiteDark, $grayLighter));
}

header, footer { 
  padding: $padding*0.5 0;
  @include responsive(ipad) {
    padding: $padding*0.5 $padding;
  } 
}

#content {
  @include single-box-shadow($grayLighter);
  background: $whiteDark;
  padding: $padding;
}


#site-navigation {
  margin: $padding*0.5 0;
} 