<table class="table table-striped mt-20">
  <tbody>
    <tr>
      <th> {{t "log.action"}} </th>
      <th> {{t "log.date"}} </th>
      <th> {{t "log.encryptable"}} </th>
    </tr>
  </tbody>
  <tbody>
    {{#each this.logs as |paperTrailVersion|}}
      <Personal-Log::TableRow @paperTrailVersion={{paperTrailVersion}}/>
    {{/each}}
  </tbody>
</table>