<div class='alert alert-info' id='alert_js'>
  <button aria-label='Close' class='close' id='close_button' type='button'>
    <span aria-hidden='true'>&#215;</span>
  </button>
  <p class='flash_message' id='alert_message'> {{message}} </p>
</div>
