<div id="api_user_content">
  {{#if api_users}}
    <table class="table table-striped" id="api_users_table">
      <tbody>
        <tr>
          <th> {{I18n 'username'}} </th>
          <th> {{I18n 'description' }} </th>
          <th> {{I18n 'profile.api_users.valid_until'}} </th>
          <th> {{I18n 'profile.api_users.valid_for'}} </th>
          <th> {{I18n 'profile.api_users.last_login_at'}} </th>
          <th> {{I18n 'profile.api_users.last_login_from'}} </th>
          <th> {{I18n 'profile.api_users.locked'}} </th>
          <th> {{I18n 'actions'}} </th>
        </tr>
      </tbody>
      <tbody id="api_users_table_body">
        {{> _api_user_row}}
      </tbody>
  {{else}}
    <p> {{I18n 'profile.api_users.no_api_users' }} </p>
  {{/if}}
</div>
