.login-form {
  max-width: 330px;
  padding: 25px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
  background-color: #f7f7f7;
  text-align: center;
  border-color: black;
  border-width: 1px;
  border-radius: 10px 10px 0 0;
}

.login-form .logo {
  width: 30%;
  padding: 5px;
}

.login-form .btn {
  width: 80%;
}
