html {
  position: relative;
  min-height: 100%
}

body {
  margin-bottom: 50px;
}

.main {
  margin-top: 120px;
}

.container {
  width: 800px;
}

.container h1 {
  font-size: 1.5em;
}

.container h2 {
  font-size: 1.1em;
}

.container .table {
  text-align: left;
  margin-top: 60px;
}

.container form:not(.login) {
  margin: auto;
  width: 70%;
  text-align: left;
}

.alert {
  margin-top: -60px;
  width: 500px;
  position: fixed;
  left: 50%;
  margin-left: -250px;
}

/*Icons*/

[class^="icon-"],
[class*=" icon-"] {
  height: 24px;
  width: 30px;
  display: inline;
  fill: currentColor;
}

/*Footer*/

.footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  background-color: #EBE6E2;
  width: 100%;
  border-top: 1px solid #CBC6C2;
}

.footer form {
  padding-right: 50px;
}
