.main {
  margin-top: 50px;
}

/* form */
.login-form {
  height: 350px;
  margin-top: -30px;
  padding: 10px;
  background-image: url("form_bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.login-form .form-group {
  padding-bottom: 10px;
}

.login-form input {
  margin-bottom: 10px;
}

.login-form fieldset {
  max-width: 250px;
  margin: auto;
}

.login-form .btn {
  width: 80%;
}
