.navbar{
  margin-left: calc(100vw - 100.7%);
  margin-right: 0;
}

.navbar-header{
    padding-left: 1%
}

.container {
  width: 800px;
}

.container h1 {
  font-size: 1.5em;
}

.container h2 {
  font-size: 1.1em;
}

.container .table {
  text-align: left;
  margin-top: 60px;
}

.container form:not(.login) {
  margin: auto;
  width: 70%;
  text-align: left;
}

/*breadcrumbs*/

.breadcrumbs {
  position: absolute;
  display: block;
  top: 55px;
  margin-left: 5px;
}
