.table-striped > tbody > tr:nth-child(1){
  background-color: #3E8F82;
  color: white;
}

.even{
  color: #333!important;
  background-color: transparent!important;
}

.odd{
  background-color: #EBE6E2!important;
  color: #333!important;
}