#soloteams{
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.6);
  z-index:5;
  width:100%;
  height:100%;

}

#teamscreen{
  width:600px;
  height: 500px;
  margin: 10% auto;
  padding: 10px 10px 40px 10px;
  background: white;
  position:relative;
  z-index:10;
  border:5px solid #cccccc;
  border-radius:10px;
}

#teamscreen_content{
  max-height: 94%;
  overflow: auto;
  padding: 15px;
}

#teamscreen_buttons{
  margin-top: 10px;
  border-top: 1px solid #cccccc;;
}

#soloteams_cancel_button{
  margin: 15px 0 0 5px;;
}
