-#  Copyright (c) 2008-2016, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

%div{:id => "teamscreen"}
  %div{:id => "teamscreen-content"}
    %div{:class => "alert alert-info"}
      %p= t '.message'
    %div{:class => "teamscreen-table"}

      %table.table.table-striped
        %tr
          %th= t '.title'

        - @soloteams.each do |t|
          %tr
            %td= t.name
  %div{:id => "teamscreen-buttons"}
  = link_to_destroy_soloteams_and_user()
  %button#soloteams-button.btn.btn-primary.pull-right Cancel
