-#  Copyright (c) 2008-2017, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

%div{id: "teamscreen"}
  %div{class: "alert alert-info last-teammembers", hidden: :true}
    %p= I18n.t('admin.users.last_teammember_teams.message')
  %div{class: "alert alert-danger delete-user", hidden: :true}
    %p= I18n.t('admin.users.last_teammember_teams.delete_user')
  
  %div{id: "teamscreen_content"}
    %div{id: "last_teammember_teams_table"}

  %div{id: "teamscreen_buttons"}
    %button#last_teammember_teams_cancel_button.btn.btn-primary.pull-right Cancel
    %button#delete_user_button.btn.btn-primary.pull-right{disabled: "disabled"}
      = I18n.t('admin.users.last_teammember_teams.destroy')
