-#  Copyright (c) 2008-2017, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

%div{id: "reset_password_screen"}
  %div{class: "alert alert-danger reset-password", hidden: :true}
    %p= I18n.t('admin.users.edit.warning')
  
  %div{id: "reset_password_screen_buttons"}
    %button#reset_password_cancel_button.btn.btn-primary.pull-right Cancel
    %button#reset_password_submit_button.btn.btn-primary.pull-right
      = I18n.t('admin.users.edit.reset_password')
