-#  Copyright (c) 2008-2016, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

%div{id: "teamscreen"}
  %div{id: "teamscreen_content"}
    %div{class: "alert alert-info"}
      %p= t '.message'
    %div{id: "last_teammember_teams_table"}

    %div{class: "delete_user_warning_message"}
      %p{class: "message"}halllo


  %div{id: "teamscreen_buttons"}
    %button#last_teammember_teams_cancel_button.btn.btn-primary.pull-right Cancel
    %button#delete_user_button.btn.btn-primary.pull-right.disabled t '.delete_user'
