-#  Copyright (c) 2008-2017, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

%table.table.table-striped.mt-20
  %tr
    %th= t '.last_login_at'
    %th= t '.last_login_from'
  %tr
    %td= current_user.formatted_last_login_at
    %td= current_user.last_login_from
