-#  Copyright (c) 2008-2017, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

- if flash[:error]
  .alert.alert-danger
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", type: "button"}
      %span{"aria-hidden" => "true"} &#215;
    = flash[:error]

- if flash[:notice]
  .alert.alert-info
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", type: "button"}
      %span{"aria-hidden" => "true"} &#215;
    = flash[:notice]

- if flash[:alert]
  .alert.alert-warning
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", type: "button"}
      %span{"aria-hidden" => "true"} &#215;
    = flash[:alert]

- else
  .message_container{:id => 'message_container'}
