<div class="footer">
  <div class="container">
    <div class="pull-left">
      <a target="_blank" href="https://github.com/puzzle/cryptopus">Cryptopus</a>
    </div>
    <div class="pull-right">
      <small><%=t :auto_logout %> <span id='countdown'></small></span>
    </div>
    <div class="pull-right">
      <%= render 'layouts/locale' %>
    </div>
  </div>
</div>
