.footer
  .container
    .pull-left
      %a{:href => "https://github.com/puzzle/cryptopus", :target => "_blank"} Cryptopus
    .pull-right
      %small
        = t :auto_logout
        %span#countdown
    .pull-right
      = render 'layouts/locale'
