-#  Copyright (c) 2008-2017, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

.footer
  .container
    .pull-left
      %a{href: "https://github.com/puzzle/cryptopus", target: "_blank"} Cryptopus
      |
      %a{href: "https://github.com/puzzle/cryptopus/wiki/User-manual", target: "_blank"}= t('help')
      |
      = version_link
    .pull-right
      %small
        = t :auto_logout
        %span#countdown 5m
    .pull-right
      = render 'layouts/locale'
