<div class="footer">
  <div class="container">
    <p class="text-muted" >
      <a target="_blank" href="https://github.com/puzzle/cryptopus">Cryptopus</a>
      <span class="pull-right">
        <small><%=t :auto_logout %> <span id='countdown'></small></span>
      </span>
    </p>
  </div>
</div>
