<% if session[:user_id] %>
  <li id="option" class="logout">
    <%= link_to(logout_login_path) do %>
      <svg class="icon-sign-out sm"><use xlink:href="#icon-sign-out"></use></svg>
      <%= t(:logout) %>
    <% end %>

    <small id="countdownWrapper"><%=t :auto_logout %> <span id='countdown'></span></small>
  </li>
<% end %>