-#  Copyright (c) 2008-2017, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

- if session[:user_id]
  %li#option.logout
    = link_to(logout_login_path) do
      %svg.icon-sign-out.sm
        %use{"xlink:href" => "#icon-sign-out"}
      = t(:logout)
    %small#countdownWrapper
      = t :auto_logout
      %span#countdown
