<ul class="nav nav-pills">
  <li><%= link_to image_tag( "edit.png" ) + " " + t(:edit), [:edit, @team, @group, @account] %><li>
  <li><%= link_to image_tag("add.png") + " " + t('.add_attachment'), new_team_group_account_item_path(@team, @group, @account) %></li>
</ul>
